.sidebar
  %p.sidebar__top
    = current_user.name
    .icon
      = link_to new_group_path do
        %i.fa.fa-edit.edit
      = link_to edit_user_path(current_user) do
        %i.fa.fa-cog.cog
  .sidebar__bottom
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .sidebar__bottom__groupname
          = group.name
        .sidebar__bottom__talk 
          メッセージはまだありません。
.talkspace
  .talkspace__top
    .talkspace__top__name
      %p sample
      %p.talkspace__top__name__members Members: seo neko
    .talkspace__top__edit
      %a.talkspace__top__edit__btn edit
  .talkspace__middle
    %ul
      %li
        %p.talkspace__middle__username test_user
        %p.talkspace__middle__time
          2019/02/04(Mon) 17:00:01
        %p.talkspace__middle__message こんにちは
      %li
        %p.talkspace__middle__username test_user
        %p.talkspace__middle__time
          2019/02/04(Mon) 17:00:01
        %p.talkspace__middle__message こんにちは
  .talkspace__bottom
    .form.talkspace__bottom__form
      = form_for [@group, @message] do |f|
        .talkspace__bottom__form__message
          =f.text_field :body, class: 'talkspace__bottom__form__message__type', placeholder: "type a message"
          =f.label :image, class:'talkspace__bottom__message__form__photo' do
            = fa_icon 'picture-o', class: 'photo'
            = f.file_send :image, id: 'filesend'
          = f. submit 'Send', id: 'submit-btn'
